<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pricecompare"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
          <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <receiver android:name="com.pricecompare.BootCompleteReceiver"
                  android:enabled="true">
            <intent-filter>
                <!-- 注册开机广播地址-->
                <action android:name="android.intent.action.ACTION_TIME_CHANGED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- 消息推送服务 -->
        <service android:name=".MyTaskService"
                 android:enabled="true">
            <intent-filter>
                <action android:name="com.pricecompare.MyTaskService"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>
